.btn {
    padding: 5px 10px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #bbb;
    text-shadow: #eee 1px 1px 3px;
    &:active {
        box-shadow: 1px 1px 1px #bbb;
    }
    &.default {
        background-color: @button-default-color;
        color: #333;
    }
    &.primary {
        background-color: @button-primary-color;
        color: #fff;
    }
}
input, select {
    border-radius: @border-radius;
    border: 1px solid #bbb;
}
.button-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.checkbox-group {
    margin: 3px 0;
    label {
        input {
            width: 15px;
            height: 15px;
            margin-right: 7px;
        }
    }
}
