@border-color: #999;
@border-radius: 5px;
button.btn {
    padding: 3px 5px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #bbb;
    &:active {
        box-shadow: 1px 1px 1px #bbb;
    }
}
input, select {
    border-radius: @border-radius;
    border: 1px solid #bbb;
}
.menu-header {
    border: 1px solid @border-color;
    border-radius: @border-radius;
    display: grid;
    grid-template-columns: 25px 25px auto 25px;
    grid-template-rows: 25px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-left: 1px;
    padding-right: 1px;
    column-gap: 2px;

}
.menu-small-btn {
    text-align: center;
    color: #333;
    border: 1px solid @border-color;
    border-radius: 3px;
    background: #748ea6;
    background: linear-gradient(0deg,rgba(116, 142, 166, 1) 0%, rgba(213, 230, 240, 1) 20%, rgba(213, 230, 240, 1) 100%);
    padding: 2px 3px;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: #1d8eca;
        text-shadow: #eee 1px 1px, #fff -1px -1px;
        background: #748ea6;
        background: linear-gradient(0deg,rgba(116, 142, 166, 1) 0%, rgba(213, 230, 240, 1) 30%, rgba(213, 230, 240, 1) 57%, rgba(116, 142, 166, 1) 100%);
    }
}
.menu-content {
    padding: 3px 5px;
    display: grid;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

.menu-item {
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid @border-color;
    border-radius: 0;
    margin: 0;

    display: grid;
    grid-template-columns: auto 70px 20px;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "name . closer"
        "name weight weight"
        "name weight weight"
        "descr descr descr";
    gap: 2px;

    &__name {
        grid-area: name;
        font-weight: 600;
        font-size: 1.1em;
        background-color: gainsboro;
        /** add three dots when exceed the width */
    }
    &__descr {
        grid-area: descr;
        background-color: lightblue;
        justify-self: end;
    }
    &__weight {
        grid-area: weight;
        input {
            width: 100%;
            height: 100%;
            border: #aaa solid thin;
            box-shadow: none;
            &:focus {
                border: #888 solid thin;
                box-shadow: none;
            }
            &:hover {
                border: #333 solid thin;
                box-shadow: none;
            }
        }
    }
    &__remove {
        justify-self: end;
        grid-area: closer;
        margin-right: 3px;
        margin-top: 3px;
    }
}

.tab-header {
  display: flex;
  border-bottom: 2px solid #eee;
    /** for devices bigger than value */
    /*@media screen and (min-width: 1024px) {
        display: none;
    }*/
}

.tab-btn {
    /** for devices bigger than value */
    /*@media screen and (min-width: 1024px) {
        display: none;
    }*/
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: 0.3s;
}
/* Стиль активной кнопки */
.tab-btn.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

/* Логика показа контента */
.tab-pane {
  display: none; /* Скрываем всё по умолчанию */
  padding-top: 20px;
}

.tab-pane.active {
  display: block; /* Показываем только активный */
}

.settings {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    &__btn-save, &__btn-fill {
        align-self: flex-start;
    }
}
#tab-menu {
    legend {
        font-weight: 600;
        font-size: 1.1em;
        margin-bottom: 10px;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        margin-bottom: 10px;
        border: 1px solid #b3d3f6;
        border-radius: 7px;
        padding: 3px 5px;
        label {
            font-weight: 400;
            font-size: 0.9em;
            input {
                margin-right: 5px;
                border-radius: 3px;
            }
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        margin-bottom: 10px;
    }
}
.alert {
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 240px;
    text-align: center;
    margin: 5px 0;
    border: 2px solid #d9eed9;
}
.alert-success {
    background-color: #e9f6eb;
    color: #449f55;
}
.menu-panes {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "first second third"
        "button notification notification"
        ;
    gap: 15px;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    &__pane {
        height: 100%;
        border: 1px solid #8998a3;
        border-radius: 5px;
        padding: 15px;
        background-color: #f5fcff;
        grid-area: second;
        &_header {
            background-color: #e5eff6;
            border-top: 1px solid #8998a3;
            border-left: 1px solid #8998a3;
            border-right: 1px solid #8998a3;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 10px 10px 5px;
        }
        &_content {
            background-color: #fff;
            border-bottom: 1px solid #8998a3;
            border-left: 1px solid #8998a3;
            border-right: 1px solid #8998a3;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 5px 10px 5px 10px;
            color: #333;
        }
        &:first-child {
            grid-area: first;
        }
        &:last-child {
            grid-area: third;
        }
    }
}
.dialog {
    position: absolute;
    z-index: 100;
    top: calc(100% / 2 - 250px);
    left: calc(100% / 2 - 250px);
    width: 250px;
    height: 250px;
    border-radius: 7px;
    border: 1px solid @border-color;;
    box-shadow: #777 3px 3px 6px;
    background-color: mistyrose;
    color: #333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto min-content;
    grid-template-areas: "header"
                         "content"
                         "footer";

    &__header {
        grid-area: header;
        background-color: #7adeee;
        padding: 5px 10px;
    }
    &__content {
        grid-area: content;
        padding: 5px 10px;
    }
    &__footer {
        grid-area: footer;
        padding: 5px 10px;
        display: flex;
        gap: 10px;
        &__button {
            background-color: #7adeee;
            border-radius: @border-radius;
            border: 1px solid @border-color;
            padding: 3px 5px;
            text-shadow: #999 1px 1px 3px;
            &__ok {
                background-color: greenyellow;
            }
            &__cancel {
                background-color: sandybrown;
            }
        }
    }
}
.validation-error {
    color: #aa1111;
}
